extends layouts/default
block frontmatter
	- var pageScripts = ['index']
	- var categories = ['date','odo','avg_mph','avg_mpg','range_rem','range_new','range_diff','price_gal','fill_cost','since_last_fill']
block content
	+chart('carData',250)
	script.
		var ctx = $('#carData')
		get('/car/category',{trim:true}, function (DATA) {
			setupData(DATA,'Range Difference','range_diff',[100,255,100])
			setupAvg(DATA,'Range Diff Average','range_diff',[0,255,175])

			setupData(DATA,'Range Remaining','range_rem',[255,100,100])
			setupAvg(DATA,'Range Rem Average','range_rem',[255,175,0])

			setupData(DATA,'Range New','range_new',[100,100,255])
			setupAvg(DATA,'Range New Average','range_new',[0,175,255])

			var chart = new Chart(ctx,{
				type: 'line',
				data: {
					labels: DATA.date,
					datasets: sets
				},
				options: {
					scales: {
						yAxes: [
							{
								id: 'y-axis-0',
								position: 'left',
								ticks: {
									beginAtZero: false,
									maxTicksLimit: 20,
									suggestedMin: -125
								}
							}
						]
					}
				}
			})
		})
	br
	br
	br
	br
	br
	.view-wrapper
		each category in categories
			+data-view(category)