//- odo
extends layouts/default
block frontmatter
block content
	+chart('odo',250)
	script.
		var ctx = $('#odo')
		get({by:'category'}, function (DATA) {
			setupAvg(DATA,'Average Odometer Reading','odo',[255,100,25])
			setupData(DATA,'Odometer Reading','odo',[255,175,50])
			var chart = new Chart(ctx,{
				type: 'line',
				data: {
					labels: DATA.date,
					datasets: sets
				},
				options: {
					scales: {
						yAxes: [
							{
								id: 'y-axis-0',
								ticks: {
									beginAtZero: false,
									mirror: true
								}
							}
						]
					}
				}
			})
		})