//- odo
extends layouts/default
block frontmatter
block content
	+chart('odo',250)
	script.
		const sets = [];
			  setupData = function(d,a) {
			  		var o = {}
					o['label'] = "odometer reading"
					o['data'] = d.odo
					o['borderColor'] = 'rgba(250,125,0,1)'
					o['backgroundColor'] = 'rgba(250,125,0,.3)'
					a.push(o)
					return a
				},
			  ctx = $('#odo')
		get({by:'category'}, function (DATA) {
			setupData(DATA,sets)
			const 
			chart = new Chart(ctx,{
				type: 'line',
				data: {
					labels: DATA.date,
					datasets: sets
				},
				options: {
					scales: {
						yAxes: [
							{
								id: 'y-axis-0',
								ticks: {
									beginAtZero: false
								}
							}
						]
					}
				}
			})
		})